<h1>products view</h1>

<ul>
  <% products.forEach((product) => { %>
    <li>
      <h3><%= product.name %></h3>
      <p>$<%= product.price %></p>
      <a href="/products/<%= product._id %>">View Details<br />
      <a href="/products/<%= product._id %>/edit">Edit Details
      </a><br />
      <!-- req.query.myId -->
    </li>

    <!-- alternative delete -->
    <!-- <a href="/product/delete?myId=<%= product._id %>">
      delete link (GET)
    </a> -->

    <!-- should probably be post (tell system to delete) - not getting anything -->
    <form method="post" action="/products/<%= product._id %>/delete">
      <button>delete (POST)</button>
    </form>
  <% }); %>
</ul>
